name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build the Docker image
        run: |
          IMAGE_TAG=${{ github.sha }}
          docker build . --file Dockerfile --tag sampaniony/students-api:$IMAGE_TAG

      - name: Push the Docker image
        run: |
          IMAGE_TAG=${{ github.sha }}
          docker push sampaniony/students-api:$IMAGE_TAG
          docker tag sampaniony/students-api:$IMAGE_TAG sampaniony/students-api:latest
          docker push sampaniony/students-api:latest

      - name: Update dev and prod branches
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -x 
          git config --global user.name "sampanionyy"
          git config --global user.email "sampanionyra55@gmail.com"

          git fetch --all

          git checkout dev || git checkout -b dev origin/dev
          git merge origin/main --no-edit
          git push origin dev

          git checkout prod || git checkout -b prod origin/prod
          git merge origin/main --no-edit
          git push origin prod



